name: Release

on: 
  push: 
    tags: 
      - 'v*'

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn -B package -DskipTests
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "kafka-impl/**/*.nar,kafka-impl/**/*.asc,proxy/**/*.nar,proxy/**/*.asc,oauth-client/**/oauth-client*.jar,oauth-client/**/oauth-client*.asc"
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
          prerelease: true
